<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- Save logs to a file in the Logs folder -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/app.log"
            layout="${longdate} ${logger} [${level}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Debug-level and higher ONLY for your main namespace -->
    <logger name="BBIHardwareSupport.MDM.IntuneConfigManager.*" minlevel="Debug" writeTo="logfile" />

    <!-- Error-level and higher for all other loggers -->
    <logger name="*" minlevel="Error" writeTo="logfile" final="true" />
  </rules>


</nlog>
