<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <!-- Save logs to a file in the Logs folder -->
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/app.log"
            layout="${longdate} ${logger} [${level}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>

    <!-- YOUR application: Debug and above -->
    <logger name="BBIHardwareSupport.MDM.*"
            minlevel="Debug"
            writeTo="logfile,debugger" />

    <!-- Microsoft framework: Information and above -->
    <logger name="Microsoft.*"
            minlevel="Info"
            writeTo="logfile,debugger" />

    <!-- System / runtime: Warning and above -->
    <logger name="System.*"
            minlevel="Warn"
            writeTo="logfile,debugger" />

    <!-- Everything else: Information and above -->
    <logger name="*"
            minlevel="Info"
            writeTo="logfile,debugger"
            final="true" />

  </rules>


</nlog>
